body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: content-box;
    text-align: center;
}
.col{
    margin: 10px;
}
.row2{
    padding: 13px;
    margin-top: 20px;
}
.col-8{
    width:950px;
}
/*Small devices (landscape phones, 576px and up) */
@media (min-width:576px){
    body
    {
        background-color: whitesmoke;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width:768px){
    body
    {
        background-color:navajowhite
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width:992px){
    body
    {
        background-color:wheat;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width:1200px){
    body
    {
        background-color:cornsilk;
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width:1400px){
    body
    {
        background-color:blanchedalmond;
    }
}