<div class="container">
    <!--<div class="list-group" *ngFor="let item of items">
        <a href="#" class="list-group-item list-group-item-action active">List of Products</a>
        <a routerLink="#" class="list-group-item list-group-item-action">{{item.sname}}</a>
        <a href="#" class="list-group-item list-group-item-action disabled">{{item.sprice}}</a>
       </div>-->


       <table class="table table-hover mt-5">
           <thead class="table-secondary">
               <tr>
                   <th scope="col">No.</th>
                   <th scope="col">Snack</th>
                   <th scope="col">Price</th>
                   <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-active" *ngFor="let item of items">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.sname}}</td>
                    <td>{{item.sprice}}</td>
                    <td><button type="button" class="btn btn-outline-primary"><a routerLink="/viewdetails/{{item.id}}" style="text-decoration: none;">Snack it</a></button></td>
                </tr>
            </tbody>
        </table>


</div>