<div calss="container-fluid">
    <div class="list-group col-3" style="float: left;">
        <a href="#" class="list-group-item list-group-item-action active">Pending</a>
        <a href="#" class="list-group-item list-group-item-action">Ordered</a>
        <a href="#" class="list-group-item list-group-item-action disabled">History</a>
    </div>
    <div class="card border-primary mb-3 col-9" style="float: right;">
        <div class="card-header">Pending</div>
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
