<h1>News & Updates</h1>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">PAGCOR GRANTS P65M FOR CITY PROJECTS</h5>
        <small>Sept. 07, 2021</small>
      </div>
      <p class="mb-1">State-owned Philippine Amusement Gaming Corporation (PAGCOR) committed to provide some P65 million for the implementation of various priority development projects of the city government to help in sustaining the growth and development of the country’s undisputed Summer Capital.

        PAGCOR Chairperson Andrea Domingo made the commitment to Mayor Benjamin B. Magalong during a recent meeting on how the State corporation will be able to help in improving the city.</p>
      <small>Read More</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">MAYOR WANTS STRICTER QUARANTINE STATUS FOR BAGUIO</h5>
        <small class="text-muted">Sept. 07, 2021</small>
      </div>
      <p class="mb-1">Mayor Benjamin Magalong wants to place Baguio City under a stricter quarantine status of General Community Quarantine with heightened restrictions to facilitate the implementation of more stringent control measures to manage the surge in Coronavirus disease (COVID-19) cases currently being experienced in the city.</p>
      <small class="text-muted">Read More</small>
    </a>
  </div>
